.idea/
作业/
animation-Alert/.idea/modules.xml
animation-Alert/.idea/misc.xml
animation-Alert/.idea/inspectionProfiles/Project_Default.xml
animation-Alert/.idea/codeStyles/codeStyleConfig.xml
animation-Alert/.idea/Animation-alert.iml
animation-Alert/.idea/.gitignore
